.container-main {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 50px;
  margin-left: 45px;
}

.title-main h1 {
  font-size: 250%;
  font-weight: bold;
  text-transform: uppercase;
  color: #ca202d;
}

.h1-m {
  margin: 0;
}

.content-main {
  margin-top: 10px;
  color: black;
}

.btn-m {
  border-radius: 5px;
  background-color: #ca202d;
  color: white;
  padding: 15px 20px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 150px;
  cursor: pointer;
}

.bi-arrow-right {
  margin-left: 30px;
  font-size: 20px;
}

.button-main {
  margin-top: 50px;
}

@media only screen and (max-width: 780px) {
  .button-main i {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .container-main {
    margin: 40px 10px 0;
  }
}
