@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
.container-b {
  background-color: #cccdcd;
  height: 95px;
  display: flex;
  align-content: center;
}

.content-b {
  margin: auto 35px;
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 870px) {
  .content-b {
    font-size: 30px;
  }
}

@media only screen and (max-width: 720px) {
  .content-b {
    font-size: 25px;
  }
  .container-b {
    height: 85px;
  }
}

@media only screen and (max-width: 590px) {
  .content-b {
    font-size: 18px;
  }
  .container-b {
    height: 75px;
  }
}
